NEXT_PUBLIC_APP_URL=https://veyrohood-claim.vercel.app
X_OFFICIAL_USERNAME=VeyroHood
X_PINNED_POST_URL=
DISCORD_INVITE_URL=https://discord.gg/ZKWGaxafe
REFERRAL_REWARD_PERCENT=10
REFERRAL_REWARD_AMOUNT=
